<div class="user-profile">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <img src="../../../../assets/user.png" alt="{{user?.username}}" class="img-thumbnail">
          <h4>{{user?.username}}</h4>
          <span>Member Since {{user?.created | date: 'shortDate'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <div>
        <h3>My Properties</h3>
      </div>
    </div>
  </div>
